# Ignore compiled python file
*.pyc

# Ignore Data folder and files
CMA
Pareto
SimTime
Nodes
KM
PowerEff
Noise
*.png
*.eps
*.mp4

# Ignore edited files
*.py~

# Ignore vlaams HPC files
*.vsc

# Ignore filesystem browser files
.directory

# Except
!msdn.png
!*/
